{% extends 'theme/base.html' %}
{% load account %}
{% block body %}

<form method="POST">
    {% csrf_token %}

    {{ packageFormset.management_form }}
    {% for eachPackageForm in packageFormset %}
    {{ eachPackageForm.as_p }}
    <hr class="dashed">
    {% endfor %}

    {{ featuresFormset.management_form }}
    {% for eachFeatureForm in featuresFormset %}
    {{ eachFeatureForm.as_p }}
    <hr class="dashed">
    {% endfor %}

    <button type="submit"
        class="bg-green-400 border border-green-400 text-white hover:bg-white hover:text-green-400 font-bold text-lg  p-2 mt-8">Siguiente</button>
</form>

{% endblock body %}